@model AstralForum.Models.ThreadCategory.CategoryViewModel

@{
    ViewData["Title"] = "Categories";

}

<style>
    .header {
    text-align: center;
    margin-bottom: 20px;
    }

    .btn {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
    }

    .btn-create {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    border: 2px solid #007bff;
    font-weight: bold;
    }

    .btn-create:hover {
    color: #fff;
    transform: scale(1.05);
    }

    .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    .category {
    width: 350px; 
    height: 350px; 
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .category:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .category-image img {
    width: 100%;
    border-radius: 10px;
    }

    .category-details {
    flex-grow: 1;
    }

    h2 {
    color: #0056b3;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
    }

    p {
    color: #666;
    margin-bottom: 15px;
    }

    .category-actions {
    text-align: center;
    margin-top: 10px;
    }

    .btn-join-discussion {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
    }

    .btn-join-discussion:hover {
    transform: scale(1.05);
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header">Explore Categories</h1>
            <div class="row justify-content-end">
                <div class="col-auto">
                    @if (User.IsInRole("Admin"))
                    {
                        <form asp-controller="Category" asp-action="Create" method="get">
                            <button type="submit" class="btn btn-create">Create Category</button>
                        </form>
                    }
                </div>
            </div>
            <form class="filter-box">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="filterCategoryName" name="filterCategoryName">
                    <label class="form-check-label" for="filterCategoryName">Filter by Category Name</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="filterCreatedBy" name="filterCreatedBy">
                    <label class="form-check-label" for="filterCreatedBy">Filter by Author</label>
                </div>
            </form>
            <form id="searchForm" class="form-inline" asp-controller="Search" asp-action="Search" method="get">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchQuery">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>

    <main>
        <div class="categories">
            @foreach (var category in Model.Categories)
            {
                <div class="category">
                    <div class="category-image">
                        <img src="@category.ImageUrl" alt="Category Image">
                    </div>
                    <h2>@category.CategoryName</h2>
                    <p>@category.Description</p>
                    <p>Author: @category.Author.UserName</p>
                    <form asp-controller="Category" asp-action="Specify" asp-route-id="@category.CategoryId" method="get">
                        <div class="category-actions">
                            <button type="submit" class="btn btn-primary">Join Discussion</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </main>
</div>

<script>
	$(document).ready(function () {
		$("#threadsTable tr").click(function () {
			var id = $(this).attr("thread-id");
			var action = "/Thread/Index/" + id;
			window.location.href = window.location.origin + action;
		})
	})
</script>