@model AstralForum.Models.User.UserInfoModel

@{
	Layout = "../Shared/_Layout.cshtml";
}
<style>
    .img-thumbnail {
        max-width: 100%;
        height: 350px;
    }

    .info {
        margin-top: 100px;
    }

    .info2 {
        margin: 20px;
    }

    h5 {
        margin-left: 52px;
        margin-top: 10px;
    }

    .role {
        margin-left: 52px;
    }

    button {
        padding: 5px 10px;
    }

    .banAndRole {
        padding-right: 10px;
        margin-top: 8px;
    }

    .adminButtons {
        margin: 0 5px;
    }

    .unban {
        margin-left: 100px;
    }

    a {
        text-decoration: none;
        font-style: normal;
        color: black;
    }
</style>
<div class="container">
    <h1 class="text-center">User Info</h1>
    <div class="row justify-content-center">
        <div class="col-3">
            <img src="img.jpeg" class="img-thumbnail" alt="photo">
        </div>
        <div class="col-4">
            <div class="info">
                <h6 class="info2">Username: <a class="fw-normal">@Model.Users.UserName</a></h6>
                <h6 class="info2">First Name: <a class="fw-normal">@Model.Users.FirstName</a></h6>
                <h6 class="info2">Last Name: <a class="fw-normal">@Model.Users.LastName</a></h6>
                <h6 class="info2">Email: <a class="fw-normal">@Model.Users.Email</a></h6>
                <h6 class="info2">Created: <a class="fw-normal">@Model.Users.DateOfCreation</a></h6>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3">
            <h5 class="text-center">@Model.Users.FirstName @Model.Users.LastName</h5>
            <div class="text-center">
                <div class="d-flex justify-content-center">
                    @foreach (var role in Model.Roles)
                    {
                        <div class="mr-1">
                            <h5 class="card-title" style="color: @role.Color">@role.Name</h5>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
        <div class="col-3">
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</div>