@model AstralForum.Models.Thread.CategoryThreadsViewModel

@{
	ViewData["Title"] = "Threads in " + Model.CategoryName;
	Layout = "../Shared/_Layout.cshtml";
}

<div>
	<h2>
		Threads in category: @Model.CategoryName
	</h2>
	<p>@ViewData["CategoryDescription"]</p>
</div>

<form asp-controller="Thread" asp-action="Create" asp-route-id="@Model.CategoryId" method="get">
	<button type="submit" class="btn btn-primary">
		New thread
	</button>
</form>

<div class="container">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th class="col-3">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).Title)
				</th>
				<th class="col">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).DateOfCreation)
				</th>
				<th class="col-2">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).Author)
				</th>
				<th class="col-5">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).LastComment)
				</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			@foreach (var item in Model.Threads)
			{
				<tr>
					<td>
						@item.Title
					</td>
					<td class="fw-light">
						@item.DateOfCreation.ToString("g")
					</td>
					<td>
						<div class="row">
							<div class="col-8">
								@item.Author.Username
								<br>
								<span class="fw-light">
									Member since: @item.Author.DateOfCreation.ToString("g")
								</span>
							</div>
							<div class="col d-flex justify-content-end">
								<img src="profilePicture.JPG" class="rounded-4 object-fit-cover" width="40" height="40">
							</div>
						</div>
					</td>
					<td>
						@item.LastComment.Text
						<div>
							<div class="row">
								<div class="col">
									<span class="font-monospace">
										by @item.LastComment.Author.Username
									</span>
									<br>
									<span class="fw-light">
										on @item.LastComment.CreatedOn.ToString("g")
									</span>
								</div>
								<div class="col d-flex justify-content-end">
									<img src="profilePicture.JPG" class="rounded-4 object-fit-cover" width="45"
										 height="45">
								</div>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>