@model AstralForum.Models.Thread.CategoryThreadsViewModel

@{
	ViewData["Title"] = "Threads in " + Model.CategoryName;
	Layout = "../Shared/_Layout.cshtml";
}

<div>
	<h2>
		Threads in category: @Model.CategoryName
	</h2>
	<p>@ViewData["CategoryDescription"]</p>
</div>

<form asp-controller="Thread" asp-action="Create" asp-route-id="@Model.CategoryId" method="get">
	<button type="submit" class="btn btn-primary">
		New thread
	</button>
</form>

<div class="container">
	<table class="table table-striped table-hover" id="threadsTable">
		<thead>
			<tr>
				<th class="col-3">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).Title)
				</th>
				<th class="col">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).DateOfCreation)
				</th>
				<th class="col-2">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).Author)
				</th>
				<th class="col-5">
					@Html.DisplayNameFor(model => model.Threads.ElementAt(0).LastComment)
				</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			@foreach (var item in Model.Threads)
			{
				<tr id="tableRow" thread-id="@item.Id">
					<td>
						@item.Title
					</td>
					<td class="fw-light">
						@item.DateOfCreation.ToString("g")
					</td>
					<td>
						<div class="row">
							<div class="col-8">
								@item.Author.UserName
								<br>
								<span class="fw-light">
									Member since: @item.Author.DateOfCreation.ToString("g")
								</span>
							</div>
							<div class="col d-flex justify-content-end">
								<img src="https://res.cloudinary.com/do8e2zy1a/image/upload/v1709327402/cld-sample.jpg" class="rounded-4 object-fit-cover" width="40" height="40">
							</div>
						</div>
					</td>
					<td>
						@if (item.LastComment == default)
						{
							<p class="fst-italic fw-semibold">No comments have been made on this thread yet</p>
						}
						else
						{
							@item.LastComment.Text
							<div>
								<div class="row">
									<div class="col">
										<span class="font-monospace">
											by @item.LastComment.CreatedBy.UserName
										</span>
										<br>
										<span class="fw-light">
											on @item.LastComment.CreatedOn.ToString("g")
										</span>
									</div>
									<div class="col d-flex justify-content-end">
										<img src="https://res.cloudinary.com/do8e2zy1a/image/upload/v1709327402/cld-sample.jpg" class="rounded-4 object-fit-cover" width="45"
											 height="45">
									</div>
								</div>
							</div>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		$("#threadsTable tr").click(function () {
			var id = $(this).attr("thread-id");
			var action = "/Thread/Index/" + id;
			window.location.href = window.location.origin + action;
		})
	})
</script>