@model AstralForum.Models.Admin.HiddenCommentsViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}

<h1>All Hidden Comments</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="width: 17%;" class="text-center align-middle">Email</th>
                <th scope="col" style="width: 20%;" class="text-center align-middle">Comment Text</th>
                <th scope="col" style="width: 10%;" class="text-center align-middle">Created On</th>
                <th scope="col" style="width: 17%;" class="text-center align-middle">User Status</th>
                <th scope="col" style="width: 10%;" class="text-center align-middle"></th>
                <th scope="col" style="width: 26%;" class="text-center align-middle"></th>
            </tr>
        </thead>
		<tbody>
			@foreach (var item in Model.Comments)
			{
                <tr>
                    <td class="text-center align-middle">@item.CreatedBy.Email</td>
                    <td class="text-center align-middle">@item.Text</td>
                    <td class="text-center align-middle">@item.CreatedOn</td>
                    <td class="text-center align-middle">
                        @if (item.CreatedBy.IsBanned == true)
                        {
                            <span>
                                Banned
                            </span>
                        }
                        else if (item.CreatedBy.TimeOut > DateTime.Now)
                        {
                            <span>
                                Timed out
                            </span>
                        }
                        else
                        {
                            <span>
                                Active
                            </span>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <form asp-controller="Admin" asp-action="RecoverComment" method="get">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-success">Recover</button>
                            </form>
                            <form asp-controller="Admin" asp-action="DeleteComment" method="get">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-warning">Delete</button>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <form asp-controller="User" asp-action="Index" method="get">
                                <input type="hidden" name="id" value="@item.CreatedById" />
                                <button type="submit" class="btn btn-secondary">Details</button>
                            </form>
                            @if (item.CreatedBy.IsBanned == false)
                            {
                                <form asp-controller="Admin" asp-action="Ban" method="get">
                                    <input type="hidden" name="id" value="@item.CreatedById" />
                                    <button type="submit" class="btn btn-danger">Ban</button>
                                </form>
                            }
                            @if (item.CreatedBy.IsBanned == true)
                            {
                                <form asp-controller="Admin" asp-action="Unban" method="get">
                                    <input type="hidden" name="id" value="@item.CreatedById" />
                                    <button type="submit" class="btn btn-warning">Unban</button>
                                </form>
                            }
                            @if (item.CreatedBy.TimeOut > DateTime.Now)
                            {
                                @if (item.CreatedBy.IsBanned == false)
                                {
                                    <form asp-controller="Admin" asp-action="DeleteTimeout" method="get">
                                        <button type="submit" class="btn btn-warning">Remove Timeout</button>
                                        <input type="hidden" name="id" value="@item.CreatedById">
                                        <input type="hidden" name="time" value="@DateTime.Now">
                                    </form>
                                }
                            }
                            else
                            {
                                @if (item.CreatedBy.IsBanned == false)
                                {
                                    <form asp-controller="Admin" asp-action="Timeout" method="get">
                                        <button type="submit" class="btn btn-warning">Timeout</button>
                                        <input type="hidden" name="id" value="@item.CreatedById">
                                        <input type="datetime-local" id="time" name="time" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required>
                                    </form>
                                }
                            }
                        </div>
                    </td>
                </tr>
			}
        </tbody>
    </table>
</div>




